<!DOCTYPE html>
<html>
	<head>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/boost.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	</head>
	<body>
		<div id="table" style="text-align: center;" class="overflow-x-auto">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th v-for="col in cols">[[ col ]]</th>
					</tr>
				</thead>
				<tbody>
				<tr v-for="i in Array.from({length:2}).keys()" :key="i">
						<th>[[ i ]]</th>
						<td v-for="col in cols">[[ data[col][i] ]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	<script>
		const { createApp } = Vue
		createApp({
		delimiters :  ["[[", "]]"],
			data(){
				return {
					cols: ["name","age","gender"],
					data: {"name":["tyler","sarah"],"age":[35,35],"gender":["m","f"]},
                    tablepage: 1,
                    tabletotalpages: this.data[this.data.keys()[0]].length / 1
				}
			},
			methods: {

			},
			watch: {

			},
			created(){
                
			},

			mounted() {

			},
			computed:{

			}

		}).mount("#table")
	</script>
</html>	
